{% extends "layout.jinja2" %}

{% block content %}
<div class="wrapper">
    <div class="form-group">
        <h2>Export as GraphViz dot file</h2>
        <p>Raw dot file:</p>
        <form action="/export/{{polycule.graph_hash}}/polycule.dot">
            <label>
                <input type="checkbox" name="link-labels" />
                Include link labels
            </label>
            <input type="submit" value="Generate dot file" />
        </form>
        <hr />
        <p>Rendered dot file (PNG image):</p>
        <form action="/export/{{polycule.graph_hash}}/polycule.png">
            <input type="hidden" name="from" value="dot" />
            <label>
                <input type="checkbox" name="link-labels" />
                Include link labels
            </label>
            <input type="submit" value="Generate PNG file" />
        </form>
    </div>
    <div class="form-group">
        <h2>Export as SVG file</h2>
        <form action="/export/{{polycule.graph_hash}}/polycule.svg">
            <label>
                <input type="checkbox" name="link-labels" />
                Include link labels
            </label><br />
            <label>
                <input type="checkbox" name="style" />
                Include stylesheet
            </label><br />
            <label>
                <input type="checkbox" name="embed" />
                Generate embeddable SVG (no header)
            </label><br />
            <input type="submit" value="Generate SVG file" />
        </form>
        <hr />
        <p>Rendered SVG file (PNG image):</p>
        <form action="/export/{{polycule.graph_hash}}/polycule.png">
            <input type="hidden" name="from" value="svg" />
            <label>
                <input type="checkbox" name="link-labels" />
                Include link labels
            </label>
            <input type="submit" value="Generate PNG file" />
        </form>
    </div>
</div>
{% endblock %}
