{% extends "layout.jinja2" %}

{% block head %}
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/polycule.js" charset="utf-8"></script>
<script src="/static/build.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<form action="/save" method="post">
    <textarea name="graph">
        {{ inherited }}
    </textarea>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <input type="submit" />
</form>
{% endblock %}
