{% extends "layout.jinja2" %}

{% block head %}
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div id="graph" class="build">
    <div class="instructions">
        <p><a href="#" class="expand-help">Help <span class="caret"></span></a></p>
        <div class="body hidden">
            <p>Click the canvas to create nodes</p>
            <p>Click and drag from nodes to create links</p>
            <p>Hold ctrl to drag nodes</p>
            <p>Click to select and edit<br />nodes and links</p>
            <p><a href="https://github.com/makyo/polycul.es/issues">Known bugs</a></p>
        </div>
    </div>
    <div id="node-menu" class="menu">
        <p>Name: <input type="text" id="edit-node-name" /></p>
        <p>Radius: <input type="range" min="2" max="20" id="edit-node-r" /></p>
        <p>Dashed: <input id="edit-node-dashed" type="checkbox" /></p>
    </div>
    <div id="link-menu" class="menu">
        <p>Center text: <input type="text" id="edit-center-text" /></p>
        <p>Text near <span id="source-name"></span>: <input type="text" id="edit-source-text" /></p>
        <p>Text near <span id="target-name"></span>: <input type="text" id="edit-target-text" /></p>
        <p>Strength: <input id="edit-strength" type="range" min="1" max="10" /></p>
        <p>Dashed: <input id="edit-link-dashed" type="checkbox" /></p>
    </div>
</div>
<script type="text/javascript">
    var graph = {{ inherited }};
</script>
<script src="/static/polycule.js" charset="utf-8"></script>
<script src="/static/build.js" charset="utf-8"></script>

<form action="/save" method="post" class="wrapper">
    <textarea name="graph" id="graph-field" class="hidden">{{ inherited }}</textarea>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
        <label for="id_view_pass">View Password</label>
        <input type="password" name="view_pass" id="id_view_pass" />
        <em>Optional</em>
        <p class="help-block">Enter a password if you would like to restrict viewing of the polycule to only those who have the password.  No password makes the polycule public and inheritable.</p>
    </div>
    <div class="form-group">
        <label for="id_delete_pass">Delete Password</label>
        <input type="password" name="delete_pass" id="id_delete_pass" />
        <em>Optional</em>
        <p class="help-block">Enter a password if you would like to be able to delete the polycule in the future.  No password means you will not be able to delete the polycule.</p>
    </div>
    <button type="submit">Save</button>
</form>
{% endblock %}
