{% extends "layout.jinja2" %}

{% block head %}
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div id="graph" class="build">
    <svg id="panel"></svg>
    <div id="panzoom">
        <small>Pan/zoom<br />Data<br />will be<br />saved!</small>
        <div id="in">+</div>
        <div id="pan">
            <div id="up">&uarr;</div>
            <div id="left">&larr;</div>
            <div id="down">&darr;</div>
            <div id="right">&rarr;</div>
        </div>
        <div id="out">-</div>
    </div>
    <div class="instructions">
        <p><a href="#" class="expand-help">Help <span class="caret"></span></a></p>
        <div class="body hidden">
            <p>Click the canvas to create nodes</p>
            <p>Click and drag from nodes to create links</p>
            <p>Hold ctrl to drag nodes</p>
            <p>Click to select and edit<br />nodes and links</p>
            <p><a target="_blank" href="https://github.com/makyo/polycul.es/issues">Known bugs</a></p>
        </div>
    </div>
    <div id="node-menu" class="menu">
        <p>Name: <input type="text" id="edit-node-name" /></p>
        <p>Radius: <input type="range" min="2" max="20" id="edit-node-r" /></p>
        <p>Dashed: <input id="edit-node-dashed" type="checkbox" /></p>
        <p>Delete: <button id="delete-node">Delete node</button></p>
    </div>
    <div id="link-menu" class="menu">
        <p>Center text: <input type="text" id="edit-center-text" /></p>
        <p>Text near <span id="source-name"></span>: <input type="text" id="edit-source-text" /></p>
        <p>Text near <span id="target-name"></span>: <input type="text" id="edit-target-text" /></p>
        <p>Strength: <input id="edit-strength" type="range" min="1" max="10" /></p>
        <p>Dashed: <input id="edit-link-dashed" type="checkbox" /></p>
        <p>Delete: <button id="delete-link">Delete link</button></p>
    </div>
    <div class="templates">
        <p>Templates:</p>
        <svg class="template" onclick="addTemplate('a,b;a-b')" width="50" height="50">
            <circle cx="5" cy="25" r="5" />
            <circle cx="45" cy="25" r="5" />
            <line x1="5" y1="25" x2="45" y2="25" />
            <text x="25" y="48">Couple</text>
        </svg>
        <svg class="template" onclick="addTemplate('a,b,c;a-b,a-c')" width="50" height="50">
            <circle cx="10" cy="20" r="5" />
            <circle cx="40" cy="5" r="5" />
            <circle cx="40" cy="35" r="5" />
            <line x1="10" y1="20" x2="40" y2="5" />
            <line x1="10" y1="20" x2="40" y2="35" />
            <text x="25" y="48">Vee</text>
        </svg>
        <svg class="template" onclick="addTemplate('a,b,c;a-b,a-c,b-c')" width="50" height="50">
            <circle cx="10" cy="20" r="5" />
            <circle cx="40" cy="5" r="5" />
            <circle cx="40" cy="35" r="5" />
            <line x1="10" y1="20" x2="40" y2="5" />
            <line x1="10" y1="20" x2="40" y2="35" />
            <line x1="40" y1="10" x2="40" y2="35" />
            <text x="25" y="48">Triad</text>
        </svg>
        <svg class="template" onclick="addTemplate('a,b,c,d;a-b,a-c,a-d')" width="50" height="50">
            <circle cx="10" cy="5" r="5" />
            <circle cx="40" cy="5" r="5" />
            <circle cx="40" cy="35" r="5" />
            <circle cx="10" cy="35" r="5" />
            <line x1="10" y1="5" x2="40" y2="5" />
            <line x1="10" y1="5" x2="40" y2="35" />
            <line x1="10" y1="5" x2="10" y2="35" />
            <text x="25" y="48">Branches</text>
        </svg>
        <svg class="template" onclick="addTemplate('a,b,c,d;a-b,a-c,b-d,c-d')" width="50" height="50">
            <circle cx="10" cy="5" r="5" />
            <circle cx="40" cy="5" r="5" />
            <circle cx="40" cy="35" r="5" />
            <circle cx="10" cy="35" r="5" />
            <line x1="10" y1="5" x2="40" y2="5" />
            <line x1="10" y1="5" x2="10" y2="35" />
            <line x1="40" y1="5" x2="40" y2="35" />
            <line x1="40" y1="35" x2="10" y2="35" />
            <text x="25" y="48">Cycle</text>
        </svg>
        <svg class="template" onclick="addTemplate('a,b,c,d;a-b,a-c,a-d,b-d,c-d')" width="50" height="50">
            <circle cx="10" cy="5" r="5" />
            <circle cx="40" cy="5" r="5" />
            <circle cx="40" cy="35" r="5" />
            <circle cx="10" cy="35" r="5" />
            <line x1="10" y1="5" x2="40" y2="5" />
            <line x1="10" y1="5" x2="10" y2="35" />
            <line x1="40" y1="5" x2="40" y2="35" />
            <line x1="40" y1="35" x2="10" y2="35" />
            <line x1="10" y1="5" x2="40" y2="35" />
            <text x="25" y="48">Toastie</text>
        </svg>
        <svg class="template" onclick="addTemplate('a,b,c,d;a-b,a-c,a-d,b-d,b-c,c-d')" width="50" height="50">
            <circle cx="10" cy="5" r="5" />
            <circle cx="40" cy="5" r="5" />
            <circle cx="40" cy="35" r="5" />
            <circle cx="10" cy="35" r="5" />
            <line x1="10" y1="5" x2="40" y2="5" />
            <line x1="10" y1="5" x2="10" y2="35" />
            <line x1="40" y1="5" x2="40" y2="35" />
            <line x1="40" y1="35" x2="10" y2="35" />
            <line x1="10" y1="5" x2="40" y2="35" />
            <line x1="10" y1="35" x2="40" y2="5" />
            <text x="25" y="48">Family</text>
        </svg>
    </div>
</div>
<script type="text/javascript">
    var graph = {{ graph }};
</script>
<script src="/static/polycule.js" charset="utf-8"></script>
<script src="/static/build.js" charset="utf-8"></script>

<form action="/edit/save" method="post" class="wrapper flex" onsubmit="writeGraph();return true;">
    <textarea name="graph" id="graph-field" class="hidden">{{ graph }}</textarea>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
        <label for="id_view_pass">View Password</label>
        <input type="password" name="view_pass" id="id_view_pass" />
        <em>Optional</em>
        <p class="help-block">Enter a password if you would like to restrict viewing of the polycule to only those who have the password. Leave blank to keep current setting</p>
        <p><label for="id_remove_view_pass"><input type="checkbox" name="remove_view_pass" id="id_remove_view_pass" /> Remove view password?</label></p>
    </div>
    <div class="form-group">
        <label for="id_delete_pass">Edit Password</label>
        <input type="password" name="edit_pass" id="id_edit_pass" />
        <em>Optional</em>
        <p class="help-block">Enter a password if you would like to be able to edit or delete the polycule in the future. Leave blank to keep current setting.</p>
        <p><label for="id_remove_delete_pass"><input type="checkbox" name="remove_edit_pass" id="id_remove_edit_pass" /> Remove edit password?</label></p>
    </div>
    <button type="submit">Save</button>
</form>
{% endblock %}
