<html>
    <head>
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu+mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <style>
        body {
            margin: 0;
            padding: 0;
        }
        </style>
    </head>
    <body>
        <div id="graph" style="margin: 0 auto;">
            <svg id="panel"></svg>
            <div id="panzoom">
                <div id="in">+</div>
                <div id="pan">
                    <div id="up">&uarr;</div>
                    <div id="left">&larr;</div>
                    <div id="down">&darr;</div>
                    <div id="right">&rarr;</div>
                </div>
                <div id="out">-</div>
            </div>
        </div>
        <script type="text/javascript">
            var graph = {{ graph }};
        </script>
        <script src="/static/polycule.js" charset="utf-8"></script>
    </body>
</html>
