{% extends "layout.jinja2" %}

{% block content %}
<p>Now with hash magic - if you need your polycule hash, contact <a href="https://github.com/makyo">Makyo</a>.</p>
<div class="wrapper">
    <h2>Whoops...</h2>
    <p>{{ error }}</p>
</div>
{% endblock %}
