{% extends "layout.jinja2" %}

{% block content %}
<p>This is how polycul.es works: blah.</p>

<iframe src="/embed/1" width="980" height="520" style="border:0;"></iframe>

<p>Inspired by <a href="http://bl.ocks.org/makyo/6754267">this</a> and <a href="http://bl.ocks.org/rkirsling/5001347">this</a>.  Fork me on <a href="https://github.com/makyo/polycul.es">GitHub</a>.</p>
{% endblock %}
