<html>
    <head>
        <title>polycul.es</title>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <h1><a href="/">polycul.es <em>&beta; <small>0.5</small></em></a></h1>
        {% block content %}{% endblock %}
    </body>
</html>
