<html>
    <head>
        <title>polycul.es</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <h1><a href="/">polycul.es</a></h1>
        {% block content %}{% endblock %}
    </body>
</html>
