<html>
    <head>
        <title>polycul.es</title>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <h1><a href="/">polycul.es <em><small>1.2</small></em></a></h1>
        {% block content %}{% endblock %}

<!-- Matomo Image Tracker-->
<img src="https://matomo.makyo.io/matomo.php?idsite=5&amp;rec=1" style="border:0" alt="" />
<!-- End Matomo -->


    </body>
</html>
