{% extends "layout.jinja2" %}

{% block head %}
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/polycule.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
{{ graph }}
{% endblock %}
