{% extends "layout.jinja2" %}

{% block head %}
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<p class="wrapper"><small>Polycule {{polycule.graph_hash}}: <a href="/{{polycule.graph_hash}}">Full link</a> &bullet; <a href="/{{polycule.graph_hash[:7]}}">Short link</a> &bullet; <a href="/{{polycule.graph_hash}}.html">Text only</a></small></p>
<div id="graph">
    <svg id="panel"></svg>
    <div id="panzoom">
        <div id="in">+</div>
        <div id="pan">
            <div id="up">&uarr;</div>
            <div id="left">&larr;</div>
            <div id="down">&darr;</div>
            <div id="right">&rarr;</div>
        </div>
        <div id="out">-</div>
    </div>
    <div id="shortcuts">
        <strong>pan:</strong> w/a/s/d - k/h/j/l - &uarr;/&larr;/&darr;/&rarr;
        <strong>zoom:</strong> +/-
    </div>
</div>
<script type="text/javascript">
    var graph = {{ polycule.graph }};
</script>
<script src="/static/polycule.js" charset="utf-8"></script>

<p style="text-align: center">
    Embed: <input type="text" onclick="this.setSelectionRange(0, this.value.length)" value="&lt;iframe src=&quot;http://polycul.es/embed/{{polycule.graph_hash}}&quot; width=&quot;980&quot; height=&quot;520&quot; style=&quot;border:0;&quot;&gt;&lt;/iframe&gt;" size="50" />
    - <a href="/inherit/{{polycule.graph_hash}}">Inherit</a>
    - <a href="/export/{{polycule.graph_hash}}">Export</a>
    {% if polycule.edit_pass %}
    - <a href="/edit/{{polycule.graph_hash}}">Edit</a>
    {% endif %}
</p>
{% if polycule.edit_pass %}
<form method="post" action="/delete/{{polycule.graph_hash}}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <label for="id_delete_pass">Delete password</label>
    <input type="password" name="delete_pass" id="id_delete_pass" />
    <button type="submit">Delete polycule</button>
    <p class="help-block">This cannot be undone</p>
</form>
{% endif %}
{% endblock %}
